*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

header{
    padding: 0 10px;
    grid-area: header;
    display: grid;
    /* justify-content: center; */
    grid-auto-flow: column;
    column-gap: 5px;
    align-content: center;
    background: #000000;
    color:#fff;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: auto 60px 60px 60px auto;
    grid-template-rows: auto 60px 60px 60px auto;
    grid-template-areas: ". . . . ." ". . up . ." ". left center right ." ". . down . ." ". . . . .";
    /* background: rgb(190, 185, 185); */
    
}

footer{
    grid-area: footer;
    background: #000000;
    color:#fff;

    display: grid;
    justify-content: center;
    align-content: center;
}

#up{
    grid-area: up;
    background-image: url('img/up.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#up:active{
    background-image: url('img/up-clicked.png');
}

#down{
    grid-area: down;
    background-image: url('img/down.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#down:active{
    background-image: url('img/down-clicked.png');
}

#center{
    grid-area: center;
    background-image: url('img/center.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#center:active{
    background-image: url('img/center-clicked.png');
}

#left{
    grid-area: left;
    background-image: url('img/left.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#left:active{
    background-image: url('img/left-clicked.png');
}

#right{
    grid-area: right;
    background-image: url('img/right.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#right:active{
    background-image: url('img/right-clicked.png');
}

.control-button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* .control-button{}
    outline: none;
} */

label{
    display: grid;
    align-content: center;
    justify-content: right;
}


.btn{
    padding: 5px;
    border-radius: 5px;
    border: 1px #000;
    border-style: solid;
}

.select{
    padding: 5px;
    border-radius: 5px;
    border: 1px #000;
    border-style: solid;
}

